<h1>Welcome To The Marvel Comic Universe</h1>
<h3>To get started choose from the links below</h3>

<div>
<%= link_to "Show All Of The Heros", heros_path%><br><br>
<%= link_to "Show All Of The Villains", villains_path%><br><br>
<%= link_to "Show All Of The Comic books", comic_books_path%>
</div>